* {
    margin: 0;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    padding: 18px 24px;
}

main.container {
    margin: 24px;
    border-top: 1px solid #ccc;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
    justify-content: center;
}

#project-list .project-item {
    width: 25%;
    padding: 8px;
}

#project-list .project-item .preview-img {
    width: 100%;
    background-size: cover;
    height: 350px;
    width: 350px;
}